{% extends "base.html" %}

{% block content %}
<div class="login-container">
    <div class="login-box">
        <h2>Login</h2>
        <form method="post" class="login-form">
            {% csrf_token %}

            {% if messages %}
            <ul class="messages" style="background-color: red;">
                {% for message in messages %}
                <li {% if message.tags %}class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}

            {{ form.as_p}}

            <button type="submit" class="login-button">Login</button>
        </form>
        <div class="register-link">
            <p>Don't have an account? <a href="/register">Register now</a></p>
        </div>
    </div>
</div>
{% endblock %}