<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/92d70a2fd8.js" crossorigin="anonymous"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'MusicThing/homePage.css' %}">
    <link rel="stylesheet" href="{% static 'MusicThing/login.css' %}">
    <link rel="stylesheet" href="{% static 'MusicThing/register.css' %}">
    <link rel="stylesheet" href="{% static 'MusicThing/FAQ.css' %}">
    <link rel="stylesheet" href="{% static 'MusicThing/support.css' %}">
    <link rel="stylesheet" href="{% static 'MusicThing/charts.css' %}">
    <link rel="stylesheet" href="{% static 'MusicThing/profile.css' %}">
    <link rel="stylesheet" href="{% static 'MusicThing/search.css' %}">
    <link rel="stylesheet" href="{% static 'MusicThing/explore.css' %}">
    <link rel="stylesheet" href="{% static 'MusicThing/editProfile.css' %}">
    <link rel="stylesheet" href="{% static 'MusicThing/search.css' %}">
    <link rel="stylesheet" href="{% static 'MusicThing/explore.css' %}">
    <title>The Music Thing</title>
</head>

<body>
    <!-- Header Section -->
    <header class="header">
        <a href="/" class="logo">The Music Thing</a>

        <nav class="navbar">
            <a href="/charts">Charts</a>
            <a href="/random">Random</a>
            {% if user.is_authenticated %}
                <a href="/explore">Explore</a>
                <a href="/profile/{{ user.username }}">Profile</a>
                <a href="/logout">Log Out</a>
            {% else %}
                <a href="/login">Login</a>
                <a href="/register">Register</a>
            {% endif %}
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <!-- Footer Section -->
    <footer>
        <img src="{% static 'MusicThing/images/Logo.png' %}" alt="(MusicThing Logo)" width="200"> <!-- Logo Placeholder -->
        <p>&copy;2023 SJSU, Inc</p>
        <div class="socials">
            <!-- Social Media Icons or Links Placeholder -->
        </div>
        <nav>
            <a href="#">INFO |</a>
            <a href="{% url 'FAQ' %}">FAQ |</a>
            <a href="{% url 'support' %}">Support Us/Feedback</a>
        </nav>
    </footer>
</body>

</html>