{% extends "base.html" %}

{% block content %}
<div class="header-padding"></div>
<!-- FAQ Section -->
<section class="faq">
    <h1>Frequently Asked Questions</h1>
    <div class="faq-container">
        <!-- Question 1 -->
        <div class="faq-item">
            <h2>How do I create an account?</h2>
            <p>• To create an account, click on the 'Profile' link at the top right of the page. </p>
            <p>• A dropdown menu will appear and an option to 'Register' will be there. </p>
            <p>• Click on register and fill in the following information to create your account. </p>

        </div>
        <!-- Question 2 -->
        <div class="faq-item">
            <h2>How can I find new music?</h2>
            <p>• Our website offers a 'Random' Feature that is located in the navigation bar at the top. </p>
            <p>• This feature will give you a random song/album curated based on your interests.</p>
            <p>• Our website also has a 'Search' function to search for specific songs/albums you are looking for.</p>
        </div>
        <!-- Question 3 -->
        <div class="faq-item">
            <h2>How can I rate a song or album?</h2>
            <p>• To rate a song or album, first select an album that you would like to rate.</p> 
            <p>• You can select an album by clicking it, redirecting you to an album rating page where you can rate that album (on a scale from 1 to 5 stars).</p>
            <p>• You are also able to leave a comment message that goes along with your rating.</p>
        </div>
    </div>
</section>
{% endblock %}