<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/92d70a2fd8.js" crossorigin="anonymous"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'MusicThing/homePage.css' %}" >
    <title>The Music Thing</title>
</head>

<body>

    <!-- Header Section -->
    <header class="header">
        <a href="#" class="logo">The Music Thing</a>

        <nav class="navbar">
            <a href="#">Top</a>
            <a href="#">Random</a>
            <a href="#">Profile</a> ▾ <!-- Dropdown menu icon for Profile -->
        </nav>
    </header>

    <!-- Main Content -->
    <div class="section-top">
        <div class="search-bar">
            <input type="text" placeholder="Search">
            <i class="fa-solid fa-magnifying-glass"></i>
        </div>
        <h2>About The Music Thing™</h2>
        <p>* Description goes here... *</p>

        <hr>
    </div>

    <!-- Artists and New Releases Content -->
    <div class="content-container">
        <div class="section-artists">
            <h3>Top 10 Artists</h3>

            <div class="artist-card">
                <img src="#" alt="Artist Image Placeholder" width="100">
                <h4>Name</h4>
                <p>Rating ★</p>
                <p>Genre</p>
                <p>Description</p>
                <a href="#">View More</a>
            </div>
        </div>
        <hr>

        <div class="section-releases">
            <h3>New Releases</h3>

            <div class="song-card">
                <img src="#" alt="Song Image Placeholder" width="100">
                <h4>Song Name by Author</h4>
                <p>Rating ★</p>
                <p>Genre</p>
                <p>Description</p>
                <a href="#">View More</a>
            </div>
        </div>
    </div>

    <!-- Footer Section -->
    <footer>
        <img src="#" alt="(MusicThing Logo)" width="100"> <!-- Logo Placeholder -->
        <p>&copy;2023 SJSU, Inc</p>
        <div class="socials">
            <!-- Social Media Icons or Links Placeholder -->
        </div>
        <nav>
            <a href="#">INFO |</a>
            <a href="#">FAQ |</a>
            <a href="#">Support Us/Feedback</a>
        </nav>
    </footer>

</body>

</html>