<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/92d70a2fd8.js" crossorigin="anonymous"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'MusicThing/homePage.css' %}">
    <title>The Music Thing</title>
</head>

<body>
    <!-- Header Section -->
    <header class="header">
        <a href="/" class="logo">The Music Thing</a>

        <nav class="navbar">
            <a href="/charts">Charts</a>
            <a href="/random">Random</a>
            {% if user.is_authenticated %}
                <a href="/explore">Explore</a>
                <a href="/profile/{{ user.username }}">Profile</a>
                <a href="/logout">Log Out</a>
            {% else %}
                <a href="/login">Login</a>
                <a href="/register">Register</a>
            {% endif %}
        </nav>
    </header>

    <!-- Main Content -->
    <div class="section-top">
        <div class="search-bar">
            <form method="GET" action="/search">
                <input type="text" name="q" placeholder="Search">
                <i class="fa-solid fa-magnifying-glass"></i>
            </form>
        </div>
        <h2>About The Music Thing™</h2>
        <p>Welcome to The Music Thing!</p>
        <p>Our platform is uniquely designed to connect people from all corners of the world through the universal
            language of music. Whether you're an enthusiast of classical tunes, a fan of hard-hitting rock, or someone
            who loves to explore the latest hip-hop beats, we've got something for everyone.
        </p>

        <div class="description">
            <li>Discover and share a variety of songs and albums spanning diverse genres and eras</li>
            <li>Rate and write reviews to share your opinions</li>
            <li>Connect and grow your love for music with other fellow music enthusiasts</li>
        </div>
        <hr>
    </div>

    <!-- Artists and New Releases Content -->
    {% load static %}
    <script src="{% static 'MusicThing/home.js' %}"></script>
    <div class="content-container">
        <div class="section-artists">
            <h3>Top 10 Songs</h3>
            <div id="artists-cards"></div>
            <script>
                {% autoescape off %}
                renderTopSongs({{ artists }})
                {% endautoescape %}
            </script>

            <!--div class="artist-card">
                <img src="#" alt="Artist Image Placeholder" width="100">
                <h4>Name</h4>
                <p>Rating ★</p>
                <p>Genre</p>
                <p>Description</p>
                <a href="#">View More</a>
            </div-->
        </div>
        <hr>

        <div class="section-releases">
            <h3>New Releases</h3>
            <div id="releases-cards"></div>
            <script>
                {% autoescape off %}
                const releases = renderNewReleases({{ releases }});
                {% endautoescape %}
            </script>

            <!--div class="song-card">
                <img src="#" alt="Song Image Placeholder" width="100">
                <h4>Song Name by Author</h4>
                <p>Rating ★</p>
                <p>Genre</p>
                <p>Description</p>
                <a href="#">View More</a>
            </div-->
        </div>
    </div>

    <!-- Footer Section -->
    <footer>
        <img src="{% static 'MusicThing/images/Logo.png' %}" alt="(MusicThing Logo)" width="200"> <!-- Logo Placeholder -->
        <p>&copy;2023 SJSU, Inc</p>
        <div class="socials">
            <!-- Social Media Icons or Links Placeholder -->
        </div>
        <nav>
            <a href="#">INFO |</a>
            <a href="{% url 'FAQ' %}">FAQ |</a>
            <a href="{% url 'support' %}">Support Us/Feedback</a>
        </nav>
    </footer>

</body>

</html>