{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="main-body">

          <div class="row gutters-sm">
            <div class="col-md-4 mb-3 profile-container">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
                    <div class="mt-3">
                      <h4>NAME</h4>
                      <p class="text-secondary mb-1">BIO</p>
                      <button class="btn btn-primary">Follow</button>
                    </div>
                  </div>
                </div>
              </div>
            
              <div class="col-md-8">
                <div class="card1 mb-3">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-sm-3">
                        <h6 class="mb-0">User Name</h6>
                      </div>
                      <div class="col-sm-9 text-secondary">
                        {{ user.username }}
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Name</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          NAME
                        </div>
                      </div>
                      <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <h6 class="mb-0">Email</h6>
                      </div>
                      <div class="col-sm-9 text-secondary">
                        {{ user.email }}
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <h6 class="mb-0">Favorite Artist</h6>
                      </div>
                      <div class="col-sm-9 text-secondary">
                        Taylor Swift
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-12">
                        <a class="btn btn-info " target="__blank" href="https://www.bootdey.com/snippets/view/profile-edit-data-and-skills">Edit Profile</a>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        <div class="charts-container" style="background-color: #e2e8f0;">
            <div class="charts-header">
                <div class="charts-data charts-cover">Album Cover</div>
                <div class="charts-info charts-data">Title/Artist</div>
                <div class="charts-ratings charts-data">Your Rating</div>
            </div>
            {% for rating in allRatings %}
                <div class="charts-entry">
                    <div class="charts-cover charts-data">
                        <img src="{{ rating.images.0.url }}" width="150" height="150">
                    </div>
                    <div class="charts-info charts-data">
                        <p><b><a href="/album/{{ rating.id }}">{{ rating.name }}</a></b></p>
                        <p>By {{ rating.artists.0.name }}</p>
                    </div>
                    <div class="charts-ratings charts-data">
                        <p>{{ rating.userRating }}/5</p>
                    </div>
                </div>
            {% endfor %}
            {% if page != 2 %}
                <a href="/profile/{{ username }}/{{ prevPage }}">< Previous Page</a>
            {% endif %}
            {% if hasNext %}
                <a href="/profile/{{ username }}/{{ page }}">Next Page></a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %} 

