.charts-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.charts-entry {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 10px;
    min-width: 900px;
    margin: 10px;
}

.charts-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 20px;
}

.charts-text {
    width: 100px;
}

.charts-cover {
    width: 150px;
}

.charts-info {
    width: 300px;
}

.charts-rating {
    width: 100px;
}
.header-padding {
    margin-top: 89px;
}
